<div class="card text-center mb-3 credentials">
    <div class="card-body">
        <form  action="/login" method="POST" class="frm">
            <h5 class="card-title">Login</h5>

            <div class="row mb-3 forms">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username"/>
            </div>

            <div class="row mb-3 forms">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password"/>
            </div>

            <button class="btn btn-outline-secondary loginButton" type="submit">Login</button>
        </form>
    </div>
</div>

{{#if errorMessage}}
    <div class="alert alert-danger errorMessage" role="alert">
        {{errorMessage}}
    </div>
{{/if}}