<div class="card text-center mb-3 credentials">
    <div class="card-body">
        <form  action="/signup" method="POST" class="frm">
            <h5 class="card-title-sgn">Signup</h5>

            <div class="row mb-3 forms">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username"/>
            </div>

            <div class="row mb-3 forms">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email"/>
            </div>

            <div class="row mb-3 forms">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password"/>
            </div>

            <button class="btn btn-outline-secondary createButton" type="submit">Create Account</button>
        </form>
    </div>
</div>

{{#if errorMessage}}
    <div class="alert alert-danger errorMessage" role="alert">
        {{errorMessage}}
    </div>
{{/if}}