<div class="container teams-list">
  <!-- 
  <div class="row">
    <div class="col"> <h4>Team</h4></div>
    <div class="col"><h4>Next Game</h4></div>
    <div class="col"></div>
  </div>
  -->
  
  <div class="row">
    {{#each teamsList}}
      <div class="card schedule-cards" style="width: 22rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <div class="input-group flatpickr">
            <input type="text" class="form-control datepicker-input" placeholder="Select Date" value="{{selectedDate}}" required>
          </div>
          <button class="btn btn-warning save-date secondButton" data-teamId="{{_id}}">Save</button>
          <a href="" class="card-link btn btn-warning secondButton" role="button">Game Info</a>
        </div>
      </div>
    {{/each}}
  </div>

</div>