<div class="card text-center mb-3 create-team teamcard">
  <div class="card-body">
    <form action="/teams/create" method="POST">
      <h6 class="naming">New Team</h6>
      <input type="text" class="form-control naming" placeholder="Name" aria-label="Name" name="name">
      <button type="submit" class="btn btn-warning naming">Create</button>  
    </form>
  </div>
</div>

<!--
  <div class="form-floating mb-3">
    <input type="text" name="name" class="form-control" id="floatingInput">
    <label for="floatingInput">Name</label>
  </div>
-->