<div class="container teams-list">
  <!-- 
  <div class="row">
    <div class="col"> <h4>Team</h4></div>
    <div class="col"><h4>Next Game</h4></div>
    <div class="col"></div>
  </div>
  -->
  
  <div class="row">
    {{#each teamsList}}
      <div class="card schedule-cards">
        <div class="card-body cardInsideSchedule">
          <h5 class="card-title teamName">{{name}}</h5>
          <!-- class="input-group flatpickr" -->
          <div class="input-group teamSchedule">
            <form action="/teams/save-date" method="POST">
              <input type="text" class="form-control datepicker-input" placeholder="Select Date" name="selectedDate" required>
              <input hidden type="text" name="teamId" value="{{id}}">
              <button type="submit" class="bi bi-save2 btn btn-warning save-date secondButton"></button>
            </form>
            <!-- <button class="btn btn-warning save-date secondButton" data-teamId="{{_id}}">Save</button> -->
          </div>
          <a href="" class="card-link btn btn-warning secondButton" role="button">Game Info</a>
        </div>
      </div>
    {{/each}}
  </div>

</div>