<div class="container teams-list">
  <h2>Teams</h2>
  <div class="list-group">
    {{#each teamsList}}
      <div class="list-group-item list-group-item-action border rounded" aria-current="true" >
        <span class="team-name-list">{{name}}</span>
        <a href="/team/{{id}}"><button type="button" class="btn btn-light"><span class="bi-gear-fill"></span></button></a>
      </div> 
    {{/each}}
  </div>
</div>