<div class="container p-5">
  <h1 class="mt-3 mb-3 fw-bold">Welcome to SquadGenie!</h1>
  <div class="d-flex flex-column align-items-start gap-2">
    <p class="text-body-secondary">At SquadGenie, we believe that the key to a successful Squad is balance and synergy. Whether you're organizing a casual game with friends or competing in a professional tournament, having well-balanced teams can greatly enhance the overall experience. That's where our app comes in!</p>
  </div>
</div>

<div class="container">
  <div class="about-card row row-cols-1 row-cols-md-2 align-items-md-center p-4">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">How we work</h3>
      <p class="text-body-secondary">Using cutting-edge algorithms and advanced statistical analysis, SquadGenie ensures that teams are formed with utmost fairness and balance. Our app takes into account the player ratings to create teams that are evenly matched. This not only promotes healthy competition but also fosters a sense of camaraderie among players.</p>
      <a href="/signup" class="btn secondButton btn-warning btn-lg">Sign up!</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="text-bg-warning p-3 bi-shuffle d-inline-flex align-items-center justify-content-center rounded-3 w-25">
          </div>
          <h4 class="fw-semibold mb-0">Random Team Generation</h4>
          <p class="text-body-secondary">Our app uses a randomization process to create teams, eliminating any bias or favoritism. This ensures that every player has an equal chance of being paired with others.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="text-bg-warning p-3 bi-calculator d-inline-flex align-items-center justify-content-center rounded-3 w-25">
          </div>
          <h4 class="fw-semibold mb-0">Rating Averages</h4>
          <p class="text-body-secondary">We consider the rating averages of individual players to ensure that the teams have a similar overall skill level. This prevents lopsided matchups and encourages close, exciting games.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="text-bg-warning p-3 bi-gear-fill d-inline-flex align-items-center justify-content-center rounded-3 w-25">
          </div>
          <h4 class="fw-semibold mb-0">Customizable Options</h4>
          <p class="text-body-secondary">SquadGenie allows you to manage several teams, tailor the team formation by adding and removing players, and save teams you like for the future"</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="text-bg-warning p-3 bi-balloon-fill d-inline-flex align-items-center justify-content-center rounded-3 w-25">
          </div>
          <h4 class="fw-semibold mb-0">Have Fun</h4>
          <p class="text-body-secondary">Enjoy playing with your frined and teammate, and leave the managing part for us!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-4">
  <div class="d-flex flex-column align-items-start gap-2">
    <h4 class="fw-bold mt-1 mb-3">Our Mission</h4>
    <p class="text-body-secondary">Our mission is to revolutionize the way teams are formed. We understand the frustration of uneven teams, where one side dominates while the other struggles to keep up. Our app aims to level the playing field by generating teams randomly and balancing them based on players' rating averages. We want every player to have a fair and enjoyable experience, regardless of their skill level.</p>
  </div>
  <div class="d-flex flex-column align-items-start gap-2">
    <h4 class="fw-bold mt-1 mb-3">Join our Community</h4>
    <p class="text-body-secondary">SquadGenie is more than just an app; it's a community of passionate gamers who value fairness and sportsmanship. Join our vibrant community, connect with like-minded players, and experience the thrill of balanced competition.

So, what are you waiting for? Say goodbye to imbalanced teams and hello to fair and exciting matchups with TeamBuilder. Get ready to experience gaming like never before!

Start building balanced teams today with SquadGenie!</p>
  </div>
</div>
