<div class="container">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active puppy home-carousel-image">
        <img src="https://res.cloudinary.com/dbdzfjr4x/image/upload/v1684953759/projects/pngegg_ihuapx.png"class="d-block w-100" alt="Create squad image">
        <div class="carousel-caption d-none d-md-block home-carousel-text rounded">
          <h3>Create your squad</h3>
          <h6 class="text-center ms-5 me-5">Do you play with a goup of friends? Create your own squads" Add players, schedule games and manage your Squads online</h6>
        </div>
      </div>
      <div class="carousel-item puppy">
        <img src=" https://place-puppy.com/300x300" class="d-block w-100" alt=" https://place-puppy.com/300x300">
        <div class="carousel-caption d-none d-md-block home-carousel-text rounded">
          <h3>Shuffle your teams</h3>
          <h6 class="text-center ms-5 me-5">Attribute ratings to your players, and SquadGenie generates random and balanced teams for you!</h6>
        </div>
      </div>
      <div class="carousel-item puppy">
        <img src=" https://place-puppy.com/300x300" class="d-block w-100" alt=" https://place-puppy.com/300x300">
        <div class="carousel-caption d-none d-md-block home-carousel-text rounded">
          <h5 class="text-center ms-5 me-5">Start managing your squad!</h5>
          <a class="btn btn-warning btn-lg" href="/signup" role="button">Signup for free</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
