<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SquadGenie</title>
</head>
<body>
    <a href="/about">About</a>
    
    {{#if currentUser}}
        <form action="/logout" method="POST">
            <a href="/teams/create">Create Team</a>
            <button type="submit">Logout</button>
        </form>
    {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    {{/if}}

    {{{body}}}
</body>
</html>