.puppy {
    margin-top: 8vh;
    height: 75vh;
}

.loginHome {
    margin-right: 1rem;
}

.credentials {
    margin: auto;
    margin-top: 5rem;
    align-items: center;
    width: 20rem;
    height: 20rem;
}

.cardTitle {
    margin-bottom: 4rem;
}

.card-title-sgn {
    margin-bottom: 2rem;
}

.forms {
    width: 15rem;
}

.loginButton {
    margin-top: 3rem;
    width: 5rem;
}

.createButton {
    margin-top: 1.5rem;
    width: 10rem;
}

.errorMessage {
    margin: auto;
    width: 20rem;
}

.teams-list{
    margin-top: 5%;
}
.team-name-list{
    padding: 15px;
}


.list-group-item {
    margin-bottom: 3%;
}

.players-list {
    width: 40%;
    padding: auto;
}

.players-list-accordion-header {
    padding: 3%;
}

.players-list-accordion-body {
    padding: 3%;
}
.add-players {
    padding-top: 4%
}
.add-players-form {
    padding-top: 4%;
}
.create-team {
    margin-top: 4%;
}
.create-team h2{
    margin-bottom: 4%;
}
.create-team-list {
    padding-bottom: 3%;
    padding-right: 2%;
}
.create-team-button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.schedule-cards {
    background-color: rgb(248, 249, 250);
    border: none;
    box-shadow: 2px 2px rgb(222, 226, 230);
    width: 22rem;
    height: 15rem;
    margin: 1rem;
    align-items: center;
}

.secondButton {
    background-color: rgb(255, 243, 205);
    border: none;
}

.cardInsideSchedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamName {
    margin-bottom: 3rem;
}

.teamSchedule {
    margin-bottom: 2rem;
}