.navigator {
    margin-left: 15vh;
}

.puppy {
    margin-top: 8vh;
    height: 75vh;
}

.credentials {
    margin: auto;
    margin-top: 5rem;
    align-items: center;
    width: 20rem;
    height: 20rem;
}

.forms {
    width: 35vh;
}

.loginButton {
    width: 15vh;
}

.errorMessage {
    margin: auto;
    width: 20rem;
}

.teams-list{
    margin-top: 5%;
}
.team-name-list{
    padding: 15px;
}


.list-group-item {
    margin-bottom: 3%;
}

.players-list {
    width: 40%;
    padding: auto;
}

.players-list-accordion-header {
    padding: 3%;
}

.players-list-accordion-body {
    padding: 3%;
}
.add-players {
    padding-top: 4%
}
.add-players-form {
    padding-top: 4%;
}
.create-team {
    margin-top: 4%;
}
.create-team h2{
    margin-bottom: 4%;
}
.create-team-list {
    padding-bottom: 3%;
    padding-right: 2%;
}
.create-team-button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}