.navigator {
    margin-left: 15vh;
}

.puppy {
    margin-top: 8vh;
    height: 75vh;
}

.credentials {
    margin: auto;
    margin-top: 5rem;
    align-items: center;
    width: 20rem;
    height: 20rem;
}

.forms {
    width: 35vh;
}

.loginButton {
    width: 15vh;
}

.errorMessage {
    margin: auto;
    width: 20rem;
}